@charset "UTF-8";
/* 공통 CSS */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: 'Nanum Gothic';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h5 {
	font-family: 'Noto Sans KR';
	font-size: 15px;
}

h4 {
	font-family: 'Noto Sans KR';
}

h3, h2, h1 {
	font-family: 'Hanna';
}
/* 헤더 영역 */
.header {
	margin-left: 15%;
	padding: 10px 10px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.breadcrumb li {
	display: inline;
	float: left;
}

.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

.userInterface li {
	display: inline-block;
	padding: 10px 10px;
}

.header-right {
	float: right;
}

.header::after {
	dispaly: block;
	content: '';
	clear: both;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f1f1f1;
	min-width: 160px;

	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}



.fa-caret-down {
	float: right;
	padding-right: 8px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

}
.sidenav::after {
	dispaly: block;
	content: '';
	clear: both;
}
/*컨텐츠영역*/
.main {
	margin-left: 15%;
	width: 75%;
	font-size: 15px;
	padding: 0px 10px;
}

.write {
	width: 100%;
	padding: 12px;
    margin: 20px auto;
	border: 1px solid #ccc;
	border-radius: 3px;
}

fieldset {
	padding: 10px 10px;
}

table {
	padding: 0px 10px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
/*푸터영역*/
.footer{
	margin-left: 20%;
	width: 80%;
	font-size: 20px;
	padding: 0px 10px;
}

.pagination {
	display: inline-block;
	text-align: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not (.active ) {
	background-color: #ddd;
	border-radius: 5px;
}