@charset "UTF-8";

.wrap {
    min-width: 800px; /* 최소 가로길이 800px */
}
.header{
    height: 100px;
    background-color: lightgreen; 
}
.content{
    max-width: 1200px; 
    height: 300px;
    margin: 0 auto; 
    background-color: lightsalmon;
}
.footer{
    height:100px;
    background-color: lightblue;
}