.updater_console{
	margin:20px 0;
}
.form{
	margin-bottom:20px;
	border-bottom:3px solid #333;
}
.replyBox{
	width:100%;
}
.replyContent{
	padding:14px 28px;
	height:30px;
	width:85%;
	resize: none;
	position: relative;
}
#replyWrite{
	position: absolute;
	margin-left:20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% auto 10% auto auto;
  grid-gap:12px;
}
.labelItem {
	margin:10px 0;
	padding:12px;
	text-align: center;
}
.inputItem{
	grid-column:;
}
.inputSearch2{
	width: 100%;
	margin:10px 0;
	padding:12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}