@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.login {
   position: absolute;
   display: table;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%
}
.login .login_inner {
   display: table-cell;
   text-align: center;
   vertical-align: middle
}
.login .login_form {
   display: inline-block;
}
.login_textForm{
	border: 1px solid #ccc;
	border-radius: 3px;
	float:right;
}
.login_form input {
	margin-bottom:10px;
	height:30px;
	text-indent: 10px;
}
.login_form button {
	border-radius: 5px;
	border: 2px solid lightgray;
	cursor: pointer;
	padding: 10px 25px 10px 25px;
	font-weight: bold;
	transition: 0.3s;
	width:100%;
}
#addForm, #addForm div {
	display: block;
	width:100% !important;
}
#addForm button{
	float: right;
}
#content, #remark {
	width: 100%;
	height: 400px;
	padding: 12px 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
	margin: 5px 0 22px 0;
	display: block;
}
#title, #company {
	width: 100%;
	padding: 12px 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	margin: 5px 0 22px 0;
	display:block;
	border: none;
}
.no-link {
	text-decoration:none;
}
.no-link:hover {
	color:red;
}
.ym-btn {
	border-radius:5px;
	border: 2px solid lightgray;
	text-align: center;
	text-decoration:none;
	font-size:15px;
	cursor:pointer;
	padding:5px 15px 5px 15px;
	font-weight:bold;
}
.ym-search-btn {
	width:20%;
	border-radius:5px;
	border: 2px solid lightgray;
	text-align: center;
	text-decoration:none;
	font-size:15px;
	cursor:pointer;
	padding:5px 20px 5px 20px;
	font-weight:bold;
}
.search-line{
	display: inline-block;
	width:40%;
}
.selectSearch{
	width: 20%;
    margin: 0px 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.dateSearch{
	width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.close-cate {
	color:#333;
	text-decoration:none;
	font-weight: bold;
}
}