@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.login {
   position: absolute;
   display: table;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%
}
.login .login_inner {
   display: table-cell;
   text-align: center;
   vertical-align: middle
}
.login .login_form {
   display: inline-block;
}
.login_textForm{
	border: 1px solid #ccc;
	border-radius: 3px;
	float:right;
}
.login_form input {
	margin-bottom:10px;
	height:30px;
	text-indent: 10px;
}
.login_form button {
	border-radius: 5px;
	border: 2px solid lightgray;
	cursor: pointer;
	padding: 10px 25px 10px 25px;
	font-weight: bold;
	transition: 0.3s;
	width:100%;
}
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px; 
}

.sidenav a {
  padding : 6px 0px 6px 24px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}
.dropdown-div{
    padding-bottom: 10px;
    box-sizing: border-box;
}
.active {
  background-color: white;
  color: black !important;
}
.dropdown-div span{
    color: white;
    display: block;
    width: 100%;
    font-size:20px;
    padding-left: 16px;
    box-sizing: border-box;
}
.sidenav a:hover{
    background-color: white;
    color: black;
}

.dropdown-container {
  display: none;
  background-color: #262626;
}

.fa-caret-down {
  float: right;
  padding-right: 40px;
}
#searchForm div{
    display: inline-block;
    width:49%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#addForm, #addForm div {
	display: block;
	width:100% !important;
}
#addForm button{
	float: right;
}
#content, #remark {
	width: 100%;
	height: 400px;
	padding: 12px 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
	margin: 5px 0 22px 0;
	display: block;
}
#title, #company {
	width: 100%;
	padding: 12px 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	margin: 5px 0 22px 0;
	display:block;
	border: none;
}
}